---
title: Generating code like it's 99
---

You can use variables written inside the frontmatter:
    - {{ node.title }}: Generating code like it's 99

Available variables (with current values for first node as an example):
    - {{ node.name }}: me
    - {{ node.title }}: Generating code like it's 99

Methods available on node.children:
    - node.children(sep)
    - node.children.flatten()
    - node.children.uniq()
    - node.children.nonone()
    - node.children.get(name)
    - node.children.join(sep)

You can also iterate over node.children and access variables, render, ...

{% for child in node.children %}
    {{ child() }}
{% endfor %}

