"list": call_wrapper("{{ node.urlprefix }}/{{ node.name }}", method="GET"),
"create": call_wrapper("{{ node.urlprefix }}/{{ node.name }}", method="POST"),
"read": call_wrapper("{{ node.urlprefix }}/{{ node.name }}/:id", method="GET"),
"update": call_wrapper("{{ node.urlprefix }}/{{ node.name }}/:id", method="PUT"),
"update_p": call_wrapper("{{ node.urlprefix }}/{{ node.name }}/:id", method="PUT"),
"delete": call_wrapper("{{ node.urlprefix }}/{{ node.name }}/:id", method="DELETE")