{% extends "sandbox/sandbox.jinja2" %}

{% block body %}
{{ meta | flatten | map_get('require') }}

root: {{ name }}

{% for child in children %}
    {{ render(child) }}
{% endfor %}
{% endblock %}


